@model IEnumerable<EmployeeVM>
@{
    ViewData["Title"] = "List";
}
<div class="container">
    <div style="overflow-x:auto;">
        <div class="d-flex">
            <select class="form-control col-md-3" id="selectFor">
                <option>Axtarış forması</option>
                <option value=":nth-child(2)">Ad</option>
                <option value=":nth-child(3)">Soyad</option>
                <option value=":nth-child(4)">Ata adı</option>
            </select>
            <div class="form-group col-md-3">
                <input type="text" class="form-control" id="txtSearch" placeholder="Axtar" />
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Şəkil</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Ata adı</th>
                    <th>Doğum tarixi</th>
                     <th>Təhsil</th>
                    <th>Əməlyyatlar</th>
                </tr>
            </thead>
            <tbody id="forappend" class="table table-striped">

                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="~/images/@item.Image" style="width:50px; height:50px; border:.2px solid black; border-radius:15px; text-align:center; margin-top:10px;" alt="" /></td>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.FatherName</td>
                        <td>@item.Birtday.ToShortDateString()</td>
                        <td>@item.EducationText</td>
                        
                        <td class="d-flex">
                            <a asp-action="Edit" asp-controller="Employee" asp-route-id="@item.ID"><i class="fas fa-user-edit"></i></a>
                            <form style="border:none;" asp-action="Delete" asp-controller="Employee" method="post" asp-route-id="@item.ID">
                                
                                <button type="submit" style="border:none; color:red; background-color:transparent" ><i class="fas fa-minus-circle"></i></button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <input type="hidden" class="skipcount" value="@ViewBag.SkipCount" />
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/jquery.min.js"></script>

<script src="~/js/index.js"></script>
@section scripts{

    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(window).height() + Math.ceil( $(document).scrollTop()) >= $(document).height()) {
                    var skipcount = +$(".skipcount").val();
                    var totalcount = @ViewBag.TotalCount;
                    if (skipcount <= totalcount) {
                        $.ajax({
                            url: "/AJAX/LoadEmployee",
                            type: "Get",
                            data: { skip: skipcount },
                            success: function (res) {
                                $("#forappend").append(res);
                                $(".skipcount").val(skipcount + 2)
                            }
                        });
                    }

                }
            })
        })
    </script>
}