@model IEnumerable<EmployeeVM>
    @{
        Layout = null;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td><img src="~/images/@item.Image" style="width:50px; height:50px; border:.2px solid black; border-radius:15px; text-align:center; margin-top:10px;" alt="" /></td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.FatherName</td>
            <td>@item.Birtday.ToShortDateString()</td>
            <td>@item.EducationText</td>
            <td class="d-flex">
                <a asp-action="Edit" asp-controller="Employee" asp-route-id="@item.ID"><i class="fas fa-user-edit"></i></a>
                <form style="border:none;" asp-action="Delete" asp-controller="Employee" method="post" asp-route-id="@item.ID">

                    <button type="submit" style="border:none; color:red; background-color:transparent"><i class="fas fa-minus-circle"></i></button>
                </form>
            </td>
        </tr>
    }

