@using Microsoft.AspNetCore.Identity
@model IEnumerable<WorkerVM>
@inject UserManager<Worker> _userManager
@{
    ViewData["Title"] = "List";
}

<h2>İşçilər</h2>

<div class="container">
    <div style="margin-top:10px; overflow-x:auto; overflow-y:auto;">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Vəzifə</th>
                    <th>Departament</th>
                    <th>Başlama tarixi</th>
                    <th>Əməliyyat</th>
                </tr>
            </thead>
            <tbody id="bonusWorkersAppend">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Position</td>
                        <td>@item.Department</td>
                        <td>@item.StartDate.Date.ToShortDateString()</td>
                        <td>
                            <a asp-action="Create" asp-controller="Bonus" asp-route-id="@item.WorkerId">Bonus əlavə et</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <input type="hidden" class="bonusWorkersSkipCount" id="bonusWorkersTotalCount" value="@ViewBag.SkipCount" />
</div>



