@model IEnumerable<ShopViewModel>
@{
    ViewData["Title"] = "ShopList";
}


<div class="container">
    <form asp-action="ShopBonus" asp-controller="Bonus" method="get">
        <div class="d-flex">
            
            @if (User.IsInRole(SD.PayrollSpecalist.ToString()))
            {
                <div class="form-group col-md-3">
                    <input type="text" value="Tarixi seç"
                           class="datepicker-here form-control"
                           data-language='en'
                           data-min-view="months"
                           data-view="months"
                           data-date-format="MM yyyy" name="selectedDate" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Bax" class="btn btn-primary calc" />
                </div>
            }

        </div>
    </form>
    <table class="table table-striped">
        <thead style="font-weight:bold;">
            <tr>
                <td>Ad</td>
                <td>Aid olduğu şirkət</td>
                @if (User.IsInRole(SD.Admin))
                {
                    <td>Əməliyyatlar</td>
                }

            </tr>
        </thead>
        <tbody id="storeAppend">
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Company.Name</td>
                @if (User.IsInRole(SD.Admin.ToString()))
                {
                    <td>
                        <div class="d-flex">
                            <form asp-action="Edit" asp-controller="Shop" method="get" asp-route-id="@item.ID" class="btn-padding">
                                <input type="hidden" name="ID" value="@item.ID" />
                                <button type="submit" style="border:none; color:black; background-color:transparent"> <i class="fas fa-edit"></i></button>

                            </form>
                            <form asp-action="Delete" asp-controller="Shop" method="post" asp-route-id="@item.ID" class="btn-padding">
                                <button type="submit" style="border:none; color:red; background-color:transparent"><i class="fas fa-minus-circle"></i></button>

                            </form>
                        </div>
                    </td>
                }

            </tr>
            }
        </tbody>
    </table>
    <input type="hidden" class="storeSkipcount" id="storeTotalCount" value="@ViewBag.SkipCount" />

</div>