@model IEnumerable<PositionVM>
    @{
        ViewData["Title"] = "PositionList";
    }

    <div class="container">
        <table class="table table-striped">
            <thead style="font-weight:bold;">
                <tr>
                    <td>Ad</td>
                    <td>Aylıq məvacib</td>
                    <td>Aid olduğu departament</td>
                    <td>Əməliyyat</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Salary</td>
                        <td>@item.Department.Name</td>
                        <td>
                            <div class="d-flex">
                                <form asp-action="Edit" asp-controller="Position" method="get" asp-route-id="@item.ID" class="btn-padding">
                                    <input type="hidden" name="ID" value="@item.ID" />
                                    <input type="submit" value="Redaktə et" class="btn btn-primary" />
                                </form>
                                <form asp-action="Delete" asp-controller="Position" method="post" asp-route-id="@item.ID" class="btn-padding">
                                    <input type="hidden" name="ID" value="@item.ID" />
                                    <input type="submit" value="Sil" class="btn btn-danger btn-padding" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


